$color: black;
html {
  font-size: 62.5%; //10px
}
body {
  font-size: 1.6rem;
}
* {
  margin: 0;
  padding: 0;
  color: $color;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@media all and (min-width: 320px) {
  html {
    font-size: 76%;
  }
}

.categoryPageTitle {
  margin: 0;
  font-weight: normal;
  font-size: 2.2rem;
  text-align: center;
  height: 44px;
}

.filterandsort {
  display: flex;
  margin: 2vh 0 0 0;
}

.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}
.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}
