.catWraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
  gap: 1rem;
  width: 65vw;
  float: left;

  article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: .5rem 0;

    a {
      position: relative;
      text-decoration: none !important;
      height: 40vh;
      img {
        height: 90%;
      }

      h4 {
        height: 10%;
      }
      aside {
        width: 100%;
      }
      #best {
        font-size: 1rem;
        position: absolute;
        background-color: rgba(248, 85, 85, 0.582);
        color: black;
        padding: .1rem 1rem;
      }

      #sale {
        display: block;
        width: 25px;
        height: 25px;
        padding: .5rem;
        font-size: 1rem;
        position: absolute;
        color: black;
        background-color: rgba(248, 236, 236, 0.582);
        border-radius: 50%;
        top: .5rem;
        right: 1.5rem;
        text-align: center;
      }

     
    }
  }
}

@media all and (max-width: 425px) {
  .catWraper {
    grid-template-columns: 1fr 1fr;

    article {
      width: 30vw;
      margin: 0 auto;

      a {
        width: 80%;
        margin: 0 auto;
      }

      img {
        object-fit: contain;
      }
    }
  }
}