.catWraper {
  width: 65vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  float: left;
  margin-bottom: 5rem;
  font-size: 1rem;

  article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: .5rem 0;
    padding: .5rem 0;

    a {
      position: relative;
      text-decoration: none !important;
      height: 40vh;
      img {
        height: 100%;
      }
      .productInfo {
        h4 {
          text-align: left;
          position: relative;
          font-size: 1.1rem;
          line-height: 100%;
          bottom: 3rem;
          background-color: white;
          padding-bottom: 2rem;
        }
        p{
          font-size: 1rem;
          color: #757575;
        }
      }
      #best {
        // left: 100%;
        font-size: 1rem;
        position: absolute;
        background-color: #ff4438;
        color: white;
        padding: .3rem 1rem;
      }

     
    }
  }
}

@media all and (max-width: 425px) {
  .catWraper {
    grid-template-columns: 1fr 1fr;

    article {
      width: 45vw;
      margin: 0 auto;

      a {
        margin: 0 auto;
      }

      img {
        object-fit: contain;
      }
    }
  }
}
@media all and (max-width: 510px) {
  .catWraper{
    width:100vw;
  }
}