.filterWrap {
  width: 50%;
  line-height: 4rem;
  font-size: 15px;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0.1em;
}
.closeIcon {
  font-size: 2em;
  position: absolute;
  right: 2vh;
  top: 1vh;
  color: red;
}
.inputself {
  // position: absolute;
  // opacity: 0;
  // cursor: pointer;
}
