footer {
    width: 100%;
    box-sizing: border-box;
    height: 35vh;
    padding: 5rem;
    border-top: 1px black solid;
    .footItems{
        margin: 0 auto;
        padding: 2rem;
        .footItem {
            text-align: center;
            width: 30vw;
            h3 {
                font-family: 'Raleway', sans-serif;
                font-size: 1.1rem;
            }
            h4 {
                text-decoration: none;
                font-size: .7rem;
            }
            h5 {
                display: none;
            }

            .socialLinks {
                display: flex;
                justify-content: space-around;
                img {
                    width: 1rem;
                }
            }
        }
        .middleDiv {
            display: flex;
            flex-direction: column;
            .classy {
                font-family: 'Arapey', serif;
            }
        }
    }
    
}


@media all and (max-width: 425px) {
    footer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        h3 {
            margin-top: 2rem;
        }
        .footItem {
            .classy {
                display: none;
            }
            .socialLinks {
                margin-top: 5rem;
                vertical-align: text-bottom
            }
            h5 {
                display: initial;
                // position: absolute;
                // background-color: red;
                font-size: 1rem;
                margin-top: 1rem;
                bottom: 0;
            }
        }

    }
}