header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 98vw;
  font-size: 1.6rem;
  overflow: hidden;
}
h1 {
  margin-block-start: 0;
  margin-block-end: 0
}
.navigation {

}
.siteTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  margin-right: -1rem;
}
.wrapper {
  display: flex;
  width: 15vw;
  // align-items: flex-end;
    img {
      
      height: 1.6rem;
      width: 1.6rem;
    }
    img:nth-child(2) {
      margin-left: 1.6rem;
    }
  }

@media all and (min-width: 768) {
  .siteTitle {
    display: flex;
    flex-wrap: nowrap;
    // min-width: max-content !important;
    // margin-left: 1em;
    // font-weight: 900 !important;
  }
  
}



@media all and (min-width: 321px) and (max-width: 375px) {
  // .siteTitle {
  //   margin-left: 4em;
  // }

}
