header {
  display: flex;
  align-items: center;
  width: 100vw;
}

.siteTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  margin-left: 7em;
}

@media all and (min-width: 1024px) {
  .siteTitle {
    display: flex;
    flex-wrap: nowrap;
    min-width: max-content !important;
    margin-left: 2em;
    font-weight: 900 !important;
  }
}
