.mainsection {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 3vh;
}

.menImageTitle {
  display: flex;
  flex-wrap: wrap;
}
.mainsectimg {
  display: flex;
  position: relative;
  img {
    max-width: 100vw;
    margin: 0 auto;
    justify-content: center;
    filter: grayscale(100);
    filter: contrast(100);
    transition: all 1s linear;
  }
  img:hover {
    filter: grayscale(100);
    transition: all 1s linear;
  }
}
.mainButton {
  position: absolute;
  width: 10vw;
  top: 65vh;
  left: 5vw;
  font-size: 1.3rem;
  border: none;
  background: none;
  padding: 2px 5px;
  line-height: 1.6em;
  cursor: pointer;
  color: #fff;
  background: black;
  font-style: oblique;
  transition: all ease-in 1s;
}
.mainButton:hover {
  background: white;
  color: black;
  transition: all ease-in 1s;
}
.mainsignin {
  display: flex;
  padding: 10vh;
  margin: 10vh;
  justify-content: center;
  align-self: center;
}

.maindesc {
  width: 35%;
}
.mainForm {
  display: flex;
  margin-top: 2vh;
  margin-left: 5vw;
  position: relative;
  input {
    width: 25vw;
    height: 4vh;
    border: 2px gray;
  }
  input::placeholder {
    padding: 0.5em;
    font-size: 1rem;
  }
  input:focus {
    outline: none;
    border: 1px solid;
  }
  input[type="text"] {
    font-size: 1rem;
    padding: 1em;
    font-family: "Raleway", sans-serif;
  }
  .option1 {
    position: absolute;
    top: 3vh;
    right: 70px;
    cursor: pointer;
    opacity: 0.7;
  }
  .option2 {
    position: absolute;
    top: 3vh;
    right: 10px;
    cursor: pointer;
    opacity: 0.7;
  }
  .option1:hover,
  .option2:hover {
    opacity: 1;
  }
}
.belowsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
}

.belowimg {
  max-width: 48vw !important;
  padding: 10vh 10vh;
  margin: 0 auto;
}
.belowimg:hover {
}
.longDescription {
  display: flex;
  text-align: center;
  justify-content: center;
}

.productsWrapper {
  display: flex;
  width: 100vw;
  height: 60vh;
  justify-content: center;
}

.productWrapper {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 38vh;
  margin: 5vh;
  overflow: hidden;

  img {
    width: 20vw;
  }
}

@media all and (max-width: 768px) and (min-width: 515px) {
  .mainsectimg {
    img {
      max-width: 45vw;
    }
  }
}