.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // height: 100vh;

  .heroImage {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 40vw;
    .heroText {
      padding: .2em;
      text-align: center;
      cursor: pointer;
      background-color: black;
      color: rgba(226, 96, 96, 0.829);
      font-size: 4.4rem;
      font-weight: 900;
      font-family: 'Yantramanav', sans-serif;
    }

    .heroText:hover {
      font-style: italic;
    }


    img {
      -o-object-fit: cover;
      object-fit: cover;
      height: 75vh;
      transition: all 1s linear;
    }

    @media all and (max-width: 769px) {
      // img {
      //   width: auto;
      // }
    }
  }
  @media all and (max-width: 515px){
    .heroImage {
      width: 100vw;
    }
  }
  @media all and (min-width: 415px) and (max-width: 769px) {
    .heroImage{
      width: 80vw;
      height: 100vh;

    }
  }
  @media all and (min-width: 515px) and (max-width: 769px) {
    .heroImage {

      .heroText {
        font-size: 3.4rem;
      }

      #top {
        left: 4rem;
      }

      #bottom {
        left: 3rem;
      }
    }
  }
}
@media all and (max-width: 769px) {
  .hero {
    gap: .5em 1em;
    align-items: center;
  }
}

.menImageTitle {
  display: flex;
  flex-wrap: wrap;
}

.mainButton {
  position: absolute;
  width: 10vw;
  top: 65vh;
  left: 5vw;
  font-size: 1.3rem;
  border: none;
  background: none;
  padding: 2px 5px;
  line-height: 1.6em;
  cursor: pointer;
  color: #fff;
  background: black;
  font-style: oblique;
  transition: all ease-in 1s;
}

.mainButton:hover {
  background: white;
  color: black;
  transition: all ease-in 1s;
}

.mainsignin {
  display: flex;
  flex-direction: column-reverse;
  margin: 2rem 1rem;
  justify-content: center;
  align-self: center;

  .maindesc {
    max-width: 100%;
    margin: 1rem;
  }

  .mainForm {
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
    position: relative;

    input {
      min-width: 60vw;
      margin: 0 auto;
      height: 1.6rem;
      border: 2px gray;
    }

    input::placeholder {
      padding: 0.5em;
      font-size: 1rem;
    }

    input:focus {
      outline: none;
      border: 1px solid;
    }

    input[type="text"] {
      font-size: 1rem;
      padding: 1em;
      font-family: "Raleway", sans-serif;
    }

    .options {
      display: flex;
      justify-content: space-around;

      .option {
        padding: 1rem;
        cursor: pointer;
        opacity: 0.7;
      }

      .option:hover {
        opacity: 1;
      }
    }
  }
}

.belowsection {
  display: flex;
  justify-content: center;
  background-color: #fff;

  .belowimg {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
    width: 30vw;

    img {
      -o-object-fit: cover;
      object-fit: cover;
      height: 85vh;
    }

    .longDescription {
      display: border-box;
      text-align: center;

      .title {
        font-family: "Noto Serif";
        margin: .5em auto;
        font-size: 1.8rem;
        font-weight: 500;
      }

      p {
        width: 25vw;
        max-height: 5rem;
        white-space: wrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        font-size: 1.2rem;
        margin: -.5em auto;
      }
    }
  }
}

// @media all and 



.products {
  display: block;
  overflow: auto;

  .productsWrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 200%;
    // height: 75vh;
    justify-content: space-between;

    .productWrapper {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      width: 70vw;

      img {
        object-fit: cover;
        // width: 25vw;
        height: 85vh;
      }
      .productName {
        text-align: center;
      }
    }
  }
}
// .products::-webkit-scrollbar {
//   display: none;
// }

/* Hide scrollbar for IE and Edge */
.products {
  -ms-overflow-style: none;
}
// @media all and (max-width: 768px) and (min-width: 515px) {
//   .mainsection {
//     .mainsectimg {
//       img {
//         // height: initial;
//       }
//     }
//   }
// }

@media all and (min-width: 768px) {
  .mainsectimg {
    img {
      width: 50vw;
    }
  }
}