.navitself {
  display: flex;
  flex: 1 0;
  .innerNav {
    display: flex;
    flex: 1 0;
    justify-content: center;
    text-align: center;
  }
  .navitself:first-child > span { margin-right: auto; }
  .navitself:last-child  > span { margin-left: auto;  }
  
  // Innernav probably extra
  .innerNav:first-child > span { margin-right: auto; }
  .innerNav:last-child  > span { margin-left: auto;  }
}
.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  min-width: fit-content;
  text-align: center;
  min-width: max-content !important;
  cursor: pointer;
  a {
    text-decoration: none ;
  }
  img {
    height: 16px;
    width: 16px;
    padding: .5em;
  }
  @media all and (min-width: 769px) and (max-width: 1023px) {
    .right {
      display: none;
    }
  }
}
.dashboard {
  flex: 1 0;
  .dashboardElements {
    display: flex;
    flex: 1 0;
    justify-content: center;
    text-align: center;
  }
  .dashboard:first-child > span { margin-right: auto; }
  .dashboard:last-child  > span { margin-left: auto;  }
  // dashboardElements are probably extra
  .dashboardElements:first-child > span { margin-right: auto; }
  .dashboardElements:last-child  > span { margin-left: auto;  }
}

.flag {
  width: 32px !important;
}


@media all and (max-width: 425px) {
  .innerNav {
    display: none;
  }
  .dashboardWrapper {
    display: none;
  }
  .navItem {
    font-size: 1.5rem;
  }
}

// @media all and (min-width: 321px) and 

.closeButton {
  position: absolute;
  left: 1em;
  font-size: 1.5rem;
  top: 1rem;
  z-index: 99999999;
}
.navigationMobile{
  
  .hamburgerButton{
    padding: 1rem;
  }
  }
.mobItem {
  margin-left: 3rem;
  .link {
    text-decoration: none;
    font-size: 1.5rem;

  }
}
