.navitself {
  display: flex;
  
}
.innerNav {
  display: flex;
  margin: 0 auto;
  
}
.navItem {
  text-align: center;
  min-width: fit-content;
}
.navItem a {
  text-decoration: none !important;
  font-size: 1rem;
  display: flex;
  flex-wrap: nowrap !important;
  margin-left: 3em;
}
.dashboardWrapper {
  display: flex;
  margin: 0 auto;
}
.navItem2 {
  display: flex;
  text-decoration: none !important;
  font-size: 1rem;
  margin-left: 3em;
  align-items: center;
  min-width: max-content !important;
  cursor: pointer;
  img {
    height: 16px;
    width: 16px;
    margin-left: 0.5em;
  }
}

.flag {
  width: 32px !important;
}

@media all and (min-width: 1024px) {
  .innerNav {
    justify-content: space-between;
  }
  .navItem a {
    margin-left: 1em;
  }
  .navItem2 {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 1em;
    h3 {
      font-size: 1.6rem;
    }
  }
}
@media all and (max-width: 320px) {
  .innerNav {
    display: none;
  }
  .dashboardWrapper{
    display: none;
  }

}