.navitself {
  display: flex;
}
.innerNav {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
}
.navItem {
  text-align: center;
  min-width: fit-content;
  font-size: 1.4rem;
  a {
    text-decoration: none ;
    display: flex;
    flex-wrap: nowrap ;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  display: flex;
  text-decoration: none;
  // font-size: 1.3rem;
  margin-top: 1.3rem;
  align-items: center;
  min-width: max-content !important;
  cursor: pointer;
  img {
    height: 16px;
    width: 16px;
    margin-left: 0.5em;
  }
}
.dashboardWrapper {
  display: flex;
  min-width: 48vw;
}
.navItem2 {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 3rem;
  margin-top: 1rem;
  align-items: center;
  min-width: max-content !important;
  cursor: pointer;
  img {
    height: 16px;
    width: 16px;
    margin-left: 0.5em;
  }
}

.flag {
  width: 32px !important;
}

@media all and (min-width: 769) {
  .navItem a {
    margin-left: 1rem !important;
  }
  .navItem2 {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 1em;
    h3 {
      font-size: 1.6rem;
    }
  }
}
@media all and (max-width: 425px) {
  .innerNav {
    display: none;
  }
  .dashboardWrapper {
    display: none;
  }
  .navItem {
    font-size: 1.5rem;
  }
}

// @media all and (min-width: 321px) and 

.closeButton {
  position: absolute;
  left: 1em;
  font-size: 1.5rem;
  top: 1rem;
  z-index: 99999999;
}
.navigationMobile{
  
  .hamburgerButton{
    padding: 1rem;
  }
  }
.mobItem {
  margin-left: 3rem;
  .link {
    text-decoration: none;
    font-size: 1.5rem;

  }
}
