.paginationWrap {
  display: flex;
  padding: 1em 0em;
  margin: 0 0.5em;
  max-width: 100vw;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
  }
  li {
    list-style: none;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    img {
      height: 1.5em;
    }
  }
}

.nextButton {
  margin-left: 3vw;
  margin-right: 3vw;
}

.nextDisable {
  margin-left: 3vw;
  margin-right: 3vw;
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #ffffff;
  p,
  img {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
  }
}
.previousButton {
  margin-left: 3vw;
}
.previousdis {
  margin-left: 3vw;
  p,
  img {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
  }
  img {
    opacity: 0.3;
  }
}
.currentPagestyle {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: auto 0;
}
.endButtons {
  font-size: 1.7em;
}
.topArrow {
  height: 1em;
  margin: auto 0;
}
.topArrowWrap {
  display: flex;
  justify-content: center;
}
