.sortWrap {
  width: 50%;
  font-size: 1.3rem;
  padding: 1rem 0 1rem 0;
  text-align: left;
  background-color: #f8f8f8;
  margin: 0.5em;
}
.sortWrap:active {
  border: none;
}
.sortWrap:focus {
  outline: none;
}
