.sortWrap {
  width: 50%;
  margin: 0;
  line-height: 4rem;
  font-size: 15px;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0.1em;
  border: none;
}
.sortWrap:active {
  border: none;
}
.sortWrap:focus {
  outline: none;
}
